[project]
name = "{{cookiecutter.project_name}"
version = "0.0.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
  "pytest"
]
lint = [
  "ruff",
  "mypy"
]