name: Lint
on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - uses: extractions/setup-just@v3
      - name: Lint
        run: |
          pip install uv
          just install
          just lint

    
